/* Styling for the Resizer (divider) */
.Resizer {
  background: #ddd; /* Divider color */
  opacity: 0.8;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
  transition: all 0.3s ease;
}

/* Add gap for vertical split */
.Resizer.vertical {
  width: 10px; /* Increase width to create a gap */
  cursor: col-resize;
}

/* Add gap for horizontal split (if used) */
.Resizer.horizontal {
  height: 10px; /* Increase height to create a gap */
  cursor: row-resize;
}

/* Hover effect for the Resizer */
.Resizer:hover {
  background: #bbb; /* Change color on hover */
}

/* Disabled Resizer (if resizing is disabled) */
.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  background: transparent;
}
.mobile-content {
  display: flex;
  flex-direction: column;
}

.mobile-content .video-section,
.mobile-content .notes-container {
  width: 100%;
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .notes-container {
    margin-top: 2rem;
    height: 30rem;
  }

  .notes-editor {
    height: 40vh;
  }

  .video-section {
    width: 100%;
  }

  .notes-header input {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
